<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ymwebview">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <activity
            android:name=".BotWebView"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
    </application>

</manifest>